.body{
    margin: auto;
}
canvas {
    width: 100%;
    height: 1010px;
    background-color: rgb(5, 0, 6);
    cursor: pointer;
}
.play {
    text-align: center;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background: red;

}
.gamebutton {
    /* display: none; */
    position: absolute;
    left: 200px;
    bottom: 50px;
    text-align: center;

}
@media screen and (min-width: 1100px) and (max-width:1560px) {
    .gamebutton {
        position: absolute;
        left: 200px;
        bottom: 100px;
        text-align: center;
    }
    canvas {
        width: 100%;
        height: auto;
        margin-bottom: -250px;
        background-color: rgb(5, 0, 6);
        cursor: pointer;
    }
}
@media screen and (min-width: 280px) and (max-width:1100px) {
    .gamebutton {
        position: relative;
        top:260px;
        left: 0px;
        text-align: center;
    }
    canvas {
        width: 100%;
        height: auto;
        margin-bottom: -250px;
        background-color: rgb(5, 0, 6);
        cursor: pointer;
    }
}
#downbtn{
    background-color: aqua;
}
#rightbtn{
    background-color: #efe703;
}
#leftbtn {
    margin-right: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(13, 248, 48);
}
.gamebtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
}
  
.gamebtn:hover {
    background: #fd3cfa;
    /* background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db); */
    text-decoration: none;
}