body{
    margin: 0px;
    padding: 0px;
}
canvas{
    position: absolute;
    top: 10px;
    bottom:  10px;
    margin: 0.5px 2.5%;
    padding: 0px;
    width: 95%;
    border: 3px solid black;
    background-color: #6B728E;
}

.btnclass{
    margin-top: 20rem;
    text-align: center;
}

button{
    background-color: #001253;
    border: 3px solid #153462;
    font-size: 50px;
    border-radius: 10px;
    font-weight: 1000;
    color: #fff;
    padding: 10px 50px;
    box-shadow: 3px 3px #B2B2B2;
}
button:hover{
    background-color: #153462;
    border: 3px solid #001253;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    box-shadow: 3px 0px 0px 3px #B2B2B2;
}